<div class="container" fxLayout="column" fxLayoutGap="10px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around left" fxLayoutGap.xs="0">


  <!----------------------------  reply on post UI ---------------------------------------->
  <!-- <mat-card class='postexample-card' fxflex id="replyCommentBox">

    <mat-card-header>Post Box</mat-card-header>

    <mat-card-content class="half-width">
      <img src="{{ profilePicture.path }}">

      <div fxFlex fxFlexOffset="20px" class="form-size">
        <p>
          fgjkhjfhgjhfjgkjgjfkjkj
        </p>



      </div>

    </mat-card-content>





  </mat-card>



 -->






  <!---------Comment Box UI------------------------------------>
  <mat-card class="example-card" fxFlex>
    <!-- <p>{{commentForm.value|json}}</p> -->
    <mat-list *ngIf='commentList' style="display:inline-grid;padding-bottom: 30px;">
      <mat-list-item *ngFor="let abc of commentList.comment" style="padding-bottom:45px;">
        <!-- <li ng-repeat="comment in commentList" style="display: inline-flex"> -->
        <img matListAvatar id="CommentProfilePic" src="{{ profilePicture.path }}">
        <div fxFlex fxFlexOffset="20px" class="form-size">
          <p matLine class="full-width" style="white-space:pre-wrap">{{abc.comment}}</p>

          <!-- <a mat-button type="cancel" class="background-primary text-floral-white" (click)="onSubmit()">Like</a>&nbsp;&nbsp;
          <a mat-button type="cancel" class="background-primary text-floral-white" (click)="onSubmit()">Comment</a>&nbsp;&nbsp;
          <a mat-button type="cancel" class="background-primary text-floral-white" (click)="onSubmit()">Share</a>&nbsp;&nbsp; -->
          <span class="flex-spacer"></span>
          <div class="example-button-row">
            <button mat-stroked-button style="color:#512DA8">
              <mat-icon style="color:#512DA8">thumb_up_alt</mat-icon>&nbsp;Like
            </button>
            <button mat-stroked-button style="color:#512DA8">
              <mat-icon style="color:#512DA8">comment</mat-icon>&nbsp;Reply
            </button>
            <!-- <button mat-stroked-button style="color:blue">...more</button> -->
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon style="color:#512DA8">more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

              <button mat-menu-item align="center">
                <mat-icon style="color:#512DA8">edit</mat-icon>
                <span style="color:#512DA8">Edit</span>
              </button>
              <button mat-menu-item align="center"> 
                <mat-icon style="color:#512DA8">delete</mat-icon>
                <span style="color:#512DA8">Delete</span>
              </button>

              <!-- <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button> -->
            </mat-menu>
          </div>

        </div>

        <!-- </li> -->
      </mat-list-item>

    </mat-list>

    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title> Comments..</mat-card-title>
    </mat-card-header>

    <!-- <mat-list *ngIf='commentForm.valid'>
      <mat-list-item>
        <p matLine>{{commentForm.value.details}}</p><br>
      </mat-list-item>
    </mat-list> -->

    <mat-card-content class=full-width>

      <img mat-card-avatar src="{{ profilePicture.path }}">

      <div fxFlex fxFlexOffset="20px" class="form-size">
        <form novalidate [formGroup]="commentForm" #commentform="ngForm" (ngSubmit)="onSubmit();">
          <p>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="details" placeholder="type here....." rows="5" required></textarea>
              <mat-error *ngIf="formErrors.details">{{ formErrors.details }}</mat-error>
            </mat-form-field>
          </p>


          <mat-card-actions align="end">

            <!-- <button mat-button class="toggle-giphy" (click)="toggleGiphySearch()">GIF</button> -->

            <mat-icon>attachment</mat-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon>add_a_photo</mat-icon>
            <span class="flex-spacer"></span>
            <button mat-button type="submit" class="background-primary text-floral-white"
              [disabled]='commentForm.invalid'><mat-icon>send</mat-icon>
              &nbsp; Add Comment</button>

            <a mat-button type="cancel" class="background-primary text-floral-white" (click)="onSubmit()">Cancel</a>
          </mat-card-actions>

          <!-- <button type="submit" mat-button class="background-primary text-floral-white"
                [disabled]="commentForm.invalid">Submit</button> -->

        </form>
      </div>

    </mat-card-content>
  </mat-card>
</div>